body, html{margin: 0;padding: 0;font-family: "Lucida Grande", sans-serif;background-color: white;}
div{overflow: auto;height: auto;}
p{margin: 0; padding: 0;}
header
{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 10vh;
  margin-top: 0vh;
  background: #fff;
  position: fixed;
  color: black;
  z-index: 900;
  color: black;
  box-shadow: 0 0 4px #f0f0f0;
}
div.logo, div.links{float: left; height: inherit;}
div.logo{width: 28%; padding: 0 1% 0 1%;}
img.logo{height: 7vh; margin-top: 1vh;}
div.links{width: 68%; display: table;}
div.link{display: table-cell; height: inherit; vertical-align: middle; text-align: center;}
div.wrapper-main{z-index: 1;width: 100%;height: 100vh; overflow: hidden;}
div.wrapper{z-index: 1;width: 100%;min-height: 100vh; overflow-y: auto; overflow-x: hidden; text-align: center;}
div.keySetence{width: 100vw; height: inherit; display: table-cell; vertical-align: middle; text-align: center;}
h1.keySetence{font-size: 86px; }
h2.keySetence{font-size: 26px;}
h1.keySetence, h2.keySetence{width: 50%; text-align: center; display: inline-block; color: white; font-family: "Arial Black", Gadget, sans-serif; padding: 0; margin: 0;}
div.wrapper-main{background: #040404;color: lime;background-size: cover;overflow: hidden !important;}
div.div-text{width: 50%; margin-top: 4vh; text-align: justify; color: #808080; display: inline-block;}
div.separator{height: 20vh; background: #3f3f3f;}
div.div-title{width: 100vw; padding-top: 18vh; text-align: center; border-bottom: 0.1px solid #fdfdfd;}
div.underline{height: 1px; background: -webkit-linear-gradient(left, transparent 0%,#3cf 50%,transparent 100%); width: 50vw; margin-left: 25vw;}
h1.div-title{color: #66b3ff; padding-bottom: 5;}
div.services{width: 100%; text-align: center;}
div.service{width: 30%; display: inline-block; margin: 3% 0 3% 0;}
div.service-image{width: 90%; padding: 5%; text-align: center;}
img.service-image{width: 25%; display: inline-block; margin-bottom: 5%;}
div.underline-service{height: 1px; background: -webkit-linear-gradient(left, transparent 0%,#d0d0d0 50%,transparent 100%); width: 60%; margin-left: 20%;}
div.service-name{width: 80%; font-size: 26px; color: #3cf; display: inline-block;}
div.contact{width: 30%; text-align: center; display: inline-block; margin: 30 0 30 0;}
img.contact{width: 20%; display: inline-block;}
p.contact{color: #d0d0d0;}
@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}
div.term-animation{width: 90%; margin: 14vh 5% 0 5%; font-family: "Lucida Console"}
p.term-animation{animation:  type2 4s steps(60, end); white-space: nowrap; overflow: hidden;}
span.blink{
  animation: blink 1s infinite;
}
footer
{
  width: 100%;
  background: black;
  color: white;
  overflow: auto;
  height: auto;
  min-height: 10vh;
  padding-bottom: 20;
}
a{text-decoration: none; color: black;}
a:hover{color: #33CCFF}
form{padding: 0; margin: 0;}
